<svg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
  <title>Chackra</title>
  <g clip-path='url(#clip0_238_228)'>
    <path
      d='M32.7432 16C32.7432 7.16344 25.5797 0 16.7432 0C7.90661 0 0.743164 7.16344 0.743164 16C0.743164 24.8366 7.90661 32 16.7432 32C25.5797 32 32.7432 24.8366 32.7432 16Z'
      fill='url(#paint0_linear_238_228)'></path>
    <path
      d='M9.40415 16.683L20.3105 5.85155C20.5142 5.64934 20.8422 5.8955 20.7046 6.14764L16.6454 13.5876C16.5547 13.7534 16.6749 13.9559 16.8639 13.9559H23.879C24.105 13.9559 24.214 14.2327 24.0488 14.387L11.7558 25.8599C11.5354 26.0656 11.2074 25.7757 11.3843 25.5317L17.2036 17.5039C17.3228 17.3393 17.2053 17.1087 17.002 17.1087H9.57971C9.35733 17.1087 9.24639 16.8396 9.40415 16.683Z'
      fill='white'></path>
  </g>
  <defs>
    <linearGradient
      id='paint0_linear_238_228'
      x1='16.7432'
      y1='0'
      x2='16.7432'
      y2='32'
      gradientUnits='userSpaceOnUse'
    >
      <stop stop-color='#7BCBD4'></stop>
      <stop offset='1' stop-color='#29C6B7'></stop>
    </linearGradient>
    <clipPath id='clip0_238_228'>
      <rect width='32' height='32' fill='white' transform='translate(0.743164)'></rect>
    </clipPath>
  </defs>
</svg>
