<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
  <title>Postman</title>
  <g clip-path='url(#clip0_216_195)'>
    <path
      d='M31.1554 17.9701C32.2412 9.46931 26.238 1.69762 17.7527 0.611758C9.26743 -0.474107 1.46471 5.52918 0.378848 14.0144C-0.707017 22.4997 5.29627 30.2869 13.7815 31.3883C22.2823 32.4741 30.054 26.4709 31.1554 17.9701Z'
      fill='#FF6C37'></path>
    <path
      d='M21.3678 10.4468L14.8216 16.993L12.9756 15.1471C19.4132 8.70943 20.0492 9.26787 21.3678 10.4468Z'
      fill='white'></path>
    <path
      d='M14.8213 17.1481C14.7748 17.1481 14.7437 17.1326 14.7127 17.1015L12.8512 15.2556C12.7892 15.1935 12.7892 15.1005 12.8512 15.0384C19.3974 8.49219 20.08 9.11268 21.4606 10.3537C21.4916 10.3847 21.5071 10.4157 21.5071 10.4623C21.5071 10.5088 21.4916 10.5398 21.4606 10.5708L14.9144 17.1015C14.8989 17.1326 14.8523 17.1481 14.8213 17.1481ZM13.1925 15.147L14.8213 16.7758L21.1348 10.4623C19.9869 9.43844 19.2113 9.12819 13.1925 15.147Z'
      fill='#FF6C37'></path>
    <path
      d='M16.698 18.8699L14.9141 17.086L21.4603 10.5398C23.2132 12.3082 20.5916 15.178 16.698 18.8699Z'
      fill='white'></path>
    <path
      d='M16.6979 19.0251C16.6514 19.0251 16.6204 19.0096 16.5894 18.9786L14.8054 17.1947C14.7744 17.1637 14.7744 17.1326 14.7744 17.0861C14.7744 17.0396 14.7899 17.0085 14.821 16.9775L21.3672 10.4313C21.4292 10.3693 21.5223 10.3693 21.5843 10.4313C21.9877 10.8036 22.2048 11.331 22.1893 11.874C22.1583 13.5958 20.2037 15.7831 16.822 18.9786C16.7755 19.0096 16.729 19.0251 16.6979 19.0251ZM15.1312 17.0861C16.124 18.0944 16.5428 18.4977 16.6979 18.6529C19.304 16.1709 21.8325 13.6268 21.8481 11.874C21.8636 11.4706 21.7084 11.0673 21.4447 10.7571L15.1312 17.0861Z'
      fill='#FF6C37'></path>
    <path
      d='M13.0061 15.1934L14.3246 16.512C14.3556 16.543 14.3556 16.574 14.3246 16.605C14.3091 16.6206 14.3091 16.6206 14.2936 16.6206L11.5634 17.21C11.4238 17.2255 11.2997 17.1325 11.2687 16.9929C11.2532 16.9153 11.2842 16.8377 11.3307 16.7912L12.913 15.2089C12.944 15.1779 12.9906 15.1624 13.0061 15.1934Z'
      fill='white'></path>
    <path
      d='M11.5176 17.3652C11.2849 17.3652 11.1143 17.1791 11.1143 16.9464C11.1143 16.8378 11.1608 16.7292 11.2384 16.6517L12.8206 15.0694C12.9137 14.9918 13.0378 14.9918 13.1309 15.0694L14.4494 16.388C14.5425 16.4655 14.5425 16.6051 14.4494 16.6982C14.4184 16.7292 14.3874 16.7447 14.3408 16.7602L11.6107 17.3497C11.5796 17.3497 11.5486 17.3652 11.5176 17.3652ZM12.9602 15.3641L11.44 16.8843C11.409 16.9154 11.3935 16.9619 11.4245 17.0084C11.44 17.055 11.4866 17.0705 11.5331 17.055L14.0926 16.4965L12.9602 15.3641Z'
      fill='#FF6C37'></path>
    <path
      d='M24.8271 6.81677C23.8343 5.855 22.2365 5.88603 21.2748 6.89433C20.313 7.90263 20.344 9.48489 21.3523 10.4467C22.1745 11.2378 23.4155 11.3774 24.3928 10.7879L22.6243 9.01952L24.8271 6.81677Z'
      fill='white'></path>
    <path
      d='M23.089 11.2999C21.6154 11.2999 20.4209 10.1054 20.4209 8.63175C20.4209 7.15807 21.6154 5.96362 23.089 5.96362C23.7716 5.96362 24.4386 6.22733 24.935 6.70822C24.966 6.73924 24.9815 6.77027 24.9815 6.8168C24.9815 6.86334 24.966 6.89436 24.935 6.92539L22.8408 9.01956L24.4851 10.6639C24.5472 10.7259 24.5472 10.819 24.4851 10.881C24.4696 10.8966 24.4696 10.8966 24.4541 10.9121C24.0508 11.1603 23.5699 11.2999 23.089 11.2999ZM23.089 6.28938C21.786 6.28938 20.7311 7.34422 20.7467 8.64726C20.7467 9.9503 21.8015 11.0051 23.1045 10.9896C23.4613 10.9896 23.8181 10.9121 24.1439 10.7414L22.5151 9.12814C22.484 9.09712 22.4685 9.06609 22.4685 9.01956C22.4685 8.97302 22.484 8.942 22.5151 8.91097L24.5937 6.83232C24.1749 6.47553 23.6475 6.28938 23.089 6.28938Z'
      fill='#FF6C37'></path>
    <path
      d='M24.8733 6.8633L24.8423 6.83228L22.624 9.01952L24.3769 10.7724C24.5476 10.6638 24.7182 10.5397 24.8578 10.4001C25.8506 9.42284 25.8506 7.84058 24.8733 6.8633Z'
      fill='white'></path>
    <path
      d='M24.3923 10.943C24.3457 10.943 24.3147 10.9275 24.2837 10.8965L22.5153 9.12809C22.4843 9.09706 22.4688 9.06604 22.4688 9.0195C22.4688 8.97296 22.4843 8.94194 22.5153 8.91091L24.718 6.70816C24.7801 6.64611 24.8732 6.64611 24.9352 6.70816L24.9818 6.73918C26.0211 7.77851 26.0211 9.45385 24.9973 10.5087C24.8421 10.6638 24.6715 10.8034 24.4854 10.912C24.4388 10.9275 24.4078 10.943 24.3923 10.943ZM22.841 9.0195L24.4078 10.5862C24.5319 10.5087 24.656 10.4001 24.7491 10.307C25.6333 9.42282 25.6798 7.98017 24.8266 7.04943L22.841 9.0195Z'
      fill='#FF6C37'></path>
    <path
      d='M21.6313 10.726C21.259 10.3537 20.6541 10.3537 20.2818 10.726L14.4336 16.5742L15.4109 17.5514L21.6003 12.1221C22.0036 11.7808 22.0347 11.1759 21.6934 10.7725C21.6624 10.757 21.6468 10.7415 21.6313 10.726Z'
      fill='white'></path>
    <path
      d='M15.3951 17.7064C15.3486 17.7064 15.3175 17.6909 15.2865 17.6599L14.3092 16.6826C14.2472 16.6205 14.2472 16.5275 14.3092 16.4654L20.1574 10.6173C20.5917 10.1829 21.2898 10.1829 21.7241 10.6173C22.1585 11.0516 22.1585 11.7497 21.7241 12.184C21.7086 12.1995 21.6931 12.215 21.6776 12.2305L15.4882 17.6599C15.4727 17.6909 15.4416 17.7064 15.3951 17.7064ZM14.6505 16.574L15.4106 17.3341L21.4915 11.9979C21.8327 11.7186 21.8638 11.2067 21.5845 10.8655C21.3053 10.5242 20.7934 10.4932 20.4521 10.7724C20.4366 10.7879 20.4211 10.8034 20.3901 10.8189L14.6505 16.574Z'
      fill='#FF6C37'></path>
    <path
      d='M9.95084 23.2289C9.88879 23.2599 9.85776 23.322 9.87328 23.384L10.137 24.5009C10.199 24.6561 10.106 24.8422 9.93533 24.8887C9.81123 24.9353 9.67162 24.8887 9.59405 24.7957L7.8877 23.1048L13.4566 17.5359L15.3802 17.5669L16.6832 18.87C16.373 19.1337 14.496 20.9486 9.95084 23.2289Z'
      fill='white'></path>
    <path
      d='M9.82584 25.0437C9.70174 25.0437 9.57764 24.9972 9.50008 24.9041L7.80923 23.2133C7.77821 23.1822 7.7627 23.1512 7.7627 23.1047C7.7627 23.0581 7.77821 23.0271 7.80923 22.9961L13.3782 17.4272C13.4092 17.3961 13.4557 17.3806 13.4868 17.3806L15.4103 17.4116C15.4568 17.4116 15.4878 17.4272 15.5189 17.4582L16.8219 18.7612C16.8529 18.7922 16.8684 18.8388 16.8684 18.8853C16.8684 18.9319 16.8529 18.9629 16.8064 18.9939L16.6978 19.087C15.0535 20.5296 12.8197 21.9723 10.043 23.3529L10.3067 24.4543C10.3533 24.6559 10.2602 24.8731 10.074 24.9817C9.98096 25.0282 9.9034 25.0437 9.82584 25.0437ZM8.11948 23.1047L9.71725 24.6869C9.76379 24.7645 9.85686 24.7955 9.93443 24.749C10.012 24.7024 10.043 24.6094 9.99648 24.5318L9.73276 23.4149C9.70174 23.2753 9.76379 23.1512 9.88789 23.0892C12.6336 21.7086 14.8518 20.2814 16.4806 18.8698L15.3327 17.7219L13.5488 17.6909L8.11948 23.1047Z'
      fill='#FF6C37'></path>
    <path
      d='M6.56862 24.4388L7.90268 23.1047L9.88826 25.0903L6.72374 24.8731C6.58413 24.8576 6.49106 24.7335 6.50657 24.5939C6.50657 24.5319 6.52208 24.4698 6.56862 24.4388Z'
      fill='white'></path>
    <path
      d='M9.88836 25.2299L6.70832 25.0127C6.47564 24.9972 6.32052 24.7956 6.33603 24.5629C6.35154 24.4698 6.38256 24.3767 6.46013 24.3147L7.79419 22.9806C7.85624 22.9186 7.94931 22.9186 8.01136 22.9806L9.99694 24.9662C10.0435 25.0127 10.059 25.0748 10.028 25.1368C9.99694 25.1989 9.95041 25.2299 9.88836 25.2299ZM7.90278 23.3219L6.6773 24.5474C6.63076 24.5784 6.63076 24.656 6.6773 24.687C6.69281 24.7025 6.70832 24.718 6.73935 24.718L9.48504 24.9042L7.90278 23.3219Z'
      fill='#FF6C37'></path>
    <path
      d='M12.9129 18.2495C12.8199 18.2495 12.7578 18.172 12.7578 18.0944C12.7578 18.0479 12.7733 18.0168 12.8043 17.9858L14.309 16.4811C14.3711 16.4191 14.4642 16.4191 14.5262 16.4811L15.5035 17.4584C15.55 17.5049 15.5655 17.5515 15.55 17.6135C15.5345 17.66 15.488 17.7066 15.4259 17.7221L12.944 18.2495C12.9284 18.2495 12.9129 18.2495 12.9129 18.2495ZM14.4176 16.8069L13.3938 17.8307L15.0692 17.4739L14.4176 16.8069Z'
      fill='#FF6C37'></path>
    <path
      d='M15.3798 17.5667L13.6735 17.939C13.5494 17.9701 13.4253 17.8925 13.3943 17.7684C13.3788 17.6908 13.3943 17.6133 13.4563 17.5512L14.4026 16.605L15.3798 17.5667Z'
      fill='white'></path>
    <path
      d='M13.6427 18.0944C13.4255 18.0944 13.2549 17.9238 13.2549 17.7066C13.2549 17.598 13.3014 17.5049 13.3635 17.4274L14.3097 16.4811C14.3718 16.4191 14.4648 16.4191 14.5269 16.4811L15.5042 17.4584C15.5507 17.5049 15.5662 17.5515 15.5507 17.6135C15.5352 17.66 15.4887 17.7066 15.4266 17.7221L13.7203 18.0944C13.6892 18.0944 13.6582 18.0944 13.6427 18.0944ZM14.4183 16.8069L13.5806 17.6445C13.5496 17.6756 13.5496 17.7066 13.5651 17.7376C13.5806 17.7686 13.6117 17.7841 13.6582 17.7841L15.0853 17.4739L14.4183 16.8069Z'
      fill='#FF6C37'></path>
    <path
      d='M24.8892 8.35253C24.8582 8.25946 24.7496 8.21292 24.6565 8.24395C24.5635 8.27497 24.5169 8.38356 24.548 8.47663C24.548 8.49214 24.5635 8.50766 24.5635 8.52317C24.6565 8.70932 24.6255 8.942 24.5014 9.11264C24.4394 9.1902 24.4549 9.29879 24.5169 9.36084C24.5945 9.42289 24.7031 9.40737 24.7651 9.32981C24.9978 9.03508 25.0443 8.66278 24.8892 8.35253Z'
      fill='#FF6C37'></path>
  </g>
  <defs>
    <clipPath id='clip0_216_195'>
      <rect width='31.0303' height='32' fill='white' transform='translate(0.251953)'></rect>
    </clipPath>
  </defs>
</svg>
