<svg width='27' height='32' viewBox='0 0 27 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
  <title>Prisma</title>
  <path
    fill-rule='evenodd'
    clip-rule='evenodd'
    d='M0.573808 21.9646C0.248259 21.4511 0.243341 20.7971 0.561129 20.2786L12.5265 0.760712C13.192 -0.324865 14.799 -0.229945 15.3321 0.926419L26.263 24.6382C26.6685 25.518 26.2017 26.5531 25.2737 26.8315L8.26984 31.9327C7.5857 32.1379 6.84856 31.8629 6.46614 31.2596L0.573808 21.9646ZM13.907 6.46758C14.0223 5.89341 14.809 5.81061 15.0414 6.34819L22.5814 23.7953C22.7232 24.1238 22.5466 24.5027 22.2037 24.605L10.4554 28.112C10.0236 28.2409 9.60989 27.8636 9.69862 27.4217L13.907 6.46758Z'
    fill='white'></path>
</svg>
