<svg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
  <title>Tailwindcss</title>
  <path
    d='M16.7432 6.375C12.4765 6.375 9.80983 8.50833 8.74316 12.775C10.3432 10.6417 12.2098 9.84167 14.3432 10.375C15.5603 10.6793 16.4303 11.5623 17.3933 12.5398C18.962 14.1321 20.7776 15.975 24.7432 15.975C29.0098 15.975 31.6765 13.8417 32.7432 9.575C31.1432 11.7083 29.2765 12.5083 27.1432 11.975C25.926 11.6707 25.056 10.7877 24.093 9.8102C22.5243 8.2179 20.7087 6.375 16.7432 6.375ZM8.74316 15.975C4.4765 15.975 1.80983 18.1083 0.743164 22.375C2.34316 20.2417 4.20983 19.4417 6.34316 19.975C7.56035 20.2793 8.43033 21.1623 9.3933 22.1398C10.962 23.7321 12.7776 25.575 16.7432 25.575C21.0098 25.575 23.6765 23.4417 24.7432 19.175C23.1432 21.3083 21.2765 22.1083 19.1432 21.575C17.926 21.2707 17.056 20.3877 16.093 19.4102C14.5243 17.8179 12.7087 15.975 8.74316 15.975Z'
    fill='url(#paint0_linear_216_167)'></path>
  <defs>
    <linearGradient
      id='paint0_linear_216_167'
      x1='-0.145725'
      y1='12.519'
      x2='27.4915'
      y2='28.454'
      gradientUnits='userSpaceOnUse'
    >
      <stop stop-color='#2298BD'></stop>
      <stop offset='1' stop-color='#0ED7B5'></stop>
    </linearGradient>
  </defs>
</svg>
