---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  alt: string;
  name: string;
  isDefaultOpen?: boolean;
  class?: string;
}

const { image, alt, class: className, name, isDefaultOpen } = Astro.props;
---

<div class:list={["flex flex-col gap-8", { expand: isDefaultOpen }, className]}>
  <Image src={image} alt={alt} class="rounded-lg h-full object-cover" />
  <div class="opacity-0">
    <p class="text-black font-normal text-2xl">{name}</p>
  </div>
</div>

<style>
  /* Shows project details */
  .expand div {
    opacity: 1;
  }
</style>
