.TitleMobile-right-a {
  font-family: 'Alfa Slab One', cursive;
  text-decoration: none;
}
.TitleMobile-right-a-White {
  transition: all 0.25s linear;
  color: #332fed !important;
}
.TitleMobile-right-a-Dark {
  transition: all 0.25s linear;
  color: #5c58ff !important;
}
