.MyProfilePic {
  display: flex;
  justify-content: center;
}
.MyProfilePic img {
  border-radius: 50%;
}

/* Dark and white mode */

.Hero-hero-img-White {
  transition: all 0.25s linear;
  border: 5px solid #2f80ed;
}
.Hero-hero-img-Dark {
  transition: all 0.25s linear;
  border: 5px solid #00c58e;
}
