.PrimaryButton {
  transition: 0.25s;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  background-color: #2f80ed;
  border-radius: 5px;
  padding: 5px 20px;
}
.PrimaryButton:hover {
  transition: 0.25s;
  background-color: #1d6edb;
}
@media screen and (min-width: 1024px) {
  .PrimaryButton {
    padding: 10px 30px;
    font-size: 2rem;
  }
}
