.SkillCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  border-radius: 5px;
  padding: 15px 0;
}
.SkillCard-White {
  transition: all 0.25s linear;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.SkillCard-Dark {
  transition: all 0.25s linear;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
