.SkillCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  border-radius: 5px;
  padding: 15px 0;
}
.SkillCard-White {
  transition: all 0.25s linear;
  border: 3px solid #2f80ed;
}
.SkillCard-Dark {
  transition: all 0.25s linear;
  border: 3px solid #00c58e;
}
