.Title {
  display: flex;
  align-items: center;
}
.Title h2 {
  margin: 0;
}

/* Dark and white mode */

.Title-h2-White {
  transition: all 0.25s linear;
  color: black;
}
.Title-h2-Dark {
  transition: all 0.25s linear;
  color: white;
}
