.TitleRight {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.TitleLeft {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.Title h2 {
  font-weight: 400;
  color: white;
  font-size: 3.6rem;
}
.Title hr {
  height: 70px;
  border: 1px solid #2f80ed;
}
