.Blog {
  transition: all 0.15s linear;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}
.Blog-image {
  margin-right: 10px;
}
.Blog-text h2 {
  margin: 0;
}
.Blog-text p {
  color: black;
}

/* White and Dark mode*/
.Blog-White:hover {
  transition: all 0.25s linear;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.Blog-Dark:hover {
  transition: all 0.15s linear;
  background-color: #181818;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.Blog-text-White h2 {
  transition: all 0.25s linear;
  color: #44446e;
}
.Blog-text-Dark h2 {
  transition: all 0.25s linear;
  color: #a6a6d1;
}
.Blog-text-White p {
  transition: all 0.25s linear;
  color: #000000;
}
.Blog-text-Dark p {
  transition: all 0.25s linear;
  color: #c4c4c4;
}
