.Hero {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
.Hero-hero img {
  border-radius: 50%;
}
.Hero h1,
.Hero p {
  text-align: center;
}
.Hero-hero {
  display: grid;
  justify-content: center;
}
.Hero-hero h1 {
  font-size: 36px;
  margin: 25px 0;
}
.Hero-content {
  display: grid;
  grid-gap: 25px;
  justify-content: center;
}
.Hero-content p {
  font-size: 24px;
  margin: 0;
}
.Hero-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.Hero-button a {
  background-color: #2f80ed;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-size: 24px;
  animation-name: projectsButton;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes projectsButton {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(5deg);
  }
  6% {
    transform: rotate(-5deg);
  }
  9% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Dark and white mode */

.Hero-hero-img-White {
  transition: all 0.25s linear;
  border: 5px solid #2f80ed;
}
.Hero-hero-img-Dark {
  transition: all 0.25s linear;
  border: 5px solid #00c58e;
}
.Hero-hero-h1-White {
  transition: all 0.25s linear;
  color: black;
}
.Hero-hero-h1-Dark {
  transition: all 0.25s linear;
  color: white;
}
.Hero-content-p-White {
  transition: all 0.25s linear;
  color: black;
}
.Hero-content-p-Dark {
  transition: all 0.25s linear;
  color: white;
}
.Hero-strong-White {
  color: #2f80ed;
}
.Hero-strong-Dark {
  color: #00c58e;
}

@media screen and (max-width: 348px) {
  .Hero-content p {
    font-size: 20px;
  }
}
