.NavDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
.NavDesktop a {
  text-decoration: none;
}
.NavDesktop-Project {
  padding: 5px 20px;
  border-radius: 5px;
}
/* Dark and white mode */
.NavDesktop-White a {
  transition: all 0.25s linear;
  color: black;
}
.NavDesktop-White a:hover {
  transition: 0.25s;
  color: #2f80ed;
}
.NavDesktop-Dark a {
  transition: all 0.25s linear;
  color: white;
}
.NavDesktop-Dark a:hover {
  transition: 0.25s;
  color: #00c58e;
}
.NavDesktop-Project-White {
  transition: all 0.25s linear;
  border: 1px solid #2f80ed;
  color: white !important;
  background-color: #2f80ed;
}
.NavDesktop-Project-White:hover {
  color: #2f80ed !important;
  background-color: #eeeeee;
}
.NavDesktop-Project-Dark {
  border: 1px solid #00c58e;
  color: white !important;
  background-color: #00c58e;
}
.NavDesktop-Project-Dark:hover {
  color: #00c58e !important;
  background-color: #121212;
}
