.NavDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #eeeeee;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  height: 60px;
}
.Nav-Desktop-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-right: 10px;
}
.NavDesktop a {
  text-decoration: none;
}
.NavDesktop-Project {
  padding: 5px 20px;
  border-radius: 5px;
}
/* Dark and white mode */
.NavDesktop-White {
  transition: all 0.25s linear;
  background-color: #eeeeee;
}
.NavDesktop-Dark {
  transition: all 0.25s linear;
  background-color: #121212;
}
.NavDesktop-White a {
  transition: all 0.25s linear;
  color: black;
}
.NavDesktop-White a:hover {
  transition: 0.25s;
  color: #2f80ed;
}
.NavDesktop-Dark a {
  transition: all 0.25s linear;
  color: white;
}
.NavDesktop-Dark a:hover {
  transition: 0.25s;
  color: #00c58e;
}
.NavDesktop-Project-White {
  transition: all 0.25s linear;
  border: 1px solid #2f80ed;
  color: white !important;
  background-color: #2f80ed;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}
.NavDesktop-Project-Dark {
  transition: all 0.25s linear;
  border: 1px solid #00c58e;
  color: white !important;
  background-color: #00c58e;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .Nav-Desktop-right {
    width: 30%;
  }
}
