.Project {
  max-width: 280px;
  background-color: #2c2c2c;
  border-radius: 5px;
  display: grid;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.Project-image {
  display: flex;
  justify-content: center;
}
.Project-image img {
  width: 279px;
  height: 134.19px;
}
.Project-text h1 {
  color: white;
  font-size: 1.8rem;
  margin: 10px 0 10px 0;
}
.Project-text p {
  color: #b7b7b7;
  font-size: 1.4rem;
  margin: 0 0 20px 0;
}
.Project-text-action {
  display: flex;
  justify-content: space-evenly;
}
.Project-text-action a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  padding: 5px 30px;
}
.Project-text-action a:first-child {
  background-color: #2f80ed;
  border-radius: 5px;
}
.Project-text-action :nth-child(2) {
  background-color: black;
  border-radius: 5px;
}
@media screen and (min-width: 400px) {
  .Project {
    max-width: 310px;
    padding: 20px;
  }
  .Project-image img {
    width: 307px;
    height: 147.66px;
  }
}
@media screen and (min-width: 1024px) {
  .Project-text-action a {
    font-size: 2rem;
  }
  .Project-text p{
    font-size: 1.6rem;
  }
  .Project-text h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1300px) {
  .Project-image img {
    width: 494px;
    height: 237.6px;
  }
  .Project {
    max-width: 490px;
    padding: 30px;
  }
}
