.Project {
  background-color: #2c2c2c;
  border-radius: 5px;
  display: grid;
  padding: 10px;
}
.Project-image img {
  width: 279px;
  height: 134.19px;
}
.Project-text h1,
.Project-text p {
  color: white;
}
.Project-text h1 {
  font-size: 1.8rem;
  margin: 10px 0 10px 0;
}
.Project-text p {
  font-size: 1.4rem;
  margin: 0 0 20px 0;
}
.Project-text-action {
  display: flex;
  justify-content: space-evenly;
}
.Project-text-action a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  padding: 5px 30px;
}
.Project-text-action a:first-child {
  background-color: #2f80ed;
  border-radius: 5px;
}
.Project-text-action :nth-child(2) {
  background-color: black;
  border-radius: 5px;
}
