.Project {
  background-color: #2c2c2c;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.Project-img img {
  width: 494px;
  height: 237.6px;
}
.Project-content-text {
  margin-top: 25px;
}
.Project-content-text h4,
.Project-content-text p {
  margin: 0;
}
.Project-content-text h4 {
  margin-bottom: 20px;
  color: white;
  font-size: 2.4rem;
}
.Project-content-text p {
  max-width: 500px;
  font-size: 2rem;
  color: #b7b7b7;
}
.Project-content-actions {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}
.Project-content-actions a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 5px;
}
.Project-content-actions-demo {
  background-color: #2f80ed;
}
.Project-content-actions-code {
  background-color: #000000;
  display: flex;
  align-items: center;
}
.Project-content-actions-code img {
  width: 25px;
  height: 25px;
}
