.SocialIcons {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
.SocialIcons a img {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .SocialIcons a img {
    width: 40px;
    height: 40px;
  }
}
