.SubTitle {
  margin-bottom: 20px;
}
.SubTitle h3 {
  transition: all 0.25s linear;
  font-size: 24px;
  margin: 0;
}

/* Dark and white mode */
.SubTitle-Dark h3 {
  transition: all 0.25s linear;
  color: white;
}
.SubTitle-Dark hr {
  transition: all 0.25s linear;
  border: 1px solid #00c58e;
}
.SubTitle-White hr {
  transition: all 0.25s linear;
  border: 1px solid #2f80ed;
}
