body{
    margin: 0;
    padding: 0;
    background-color: #E2E2E2;
    font-family: 'Inconsolata', monospace;
}
    nav{
        background-color: #3797A4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }
        .Logo{
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
            .Logo img{
                border-radius: 10px;
            }
            .Logo h1{
                margin: 0;
                margin-left: 10px;
                color: white;
                font-weight: 500;
            }
        .Links{
            display: flex;
            margin-right: 20px;
        }
            .Links a{
                margin: 10px;
                text-decoration: none;
                color: white;
            }
    .Presentation{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 700px auto;
        justify-items: center;
    }
        .MyImage img{
            box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
        }
        .MyText h2{
            transition: all;
            font-size: 50px;
            font-weight: 400;
        }
            strong{
                color: #3797A4;
            }
    .Project-container{
        margin-top: 100px;
    }
        .Project-container h3{
            margin-left: 20px;
            font-size: 30px;
        }
        .Project{
            transition: 0.5s;
            font-family: 'Open Sans', sans-serif;
            display: grid;
            grid-template-columns: 1fr 10px 1fr;
            grid-template-rows: 300px;
            margin: 20px;
            border-radius: 4px;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
            background-color: white;
        }
        .Project:hover{
            transition: 0.5s;
            box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
        }
            .Description{
                margin: 10px;
            }
                .Description p a{
                    text-decoration: none;
                }
            .Image{
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        .More{
            transition: .5s;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
        }
        .More:hover{
            transition: .5s;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);            
        }
            .More a{
                text-decoration: none;
                color: #3797a4;
            }
    footer{
        height: 70px;
        background-color: #3797A4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .Icons a{
            margin: 5px;
            color: white;
            text-decoration: none;
            font-size: 30px;
        }
