<section
  class="mx-4 md:mx-8 2xl:mx-24 h-[calc(100vh+64px)] mt-8 flex flex-col justify-center items-center gap-16"
>
  <h2 class="text-black font-semibold text-5xl md:text-6xl text-center">
    <strong class="fancy-font">Best-in-class</strong> software development, leading
    software solutions while
    <strong class="fancy-font">collaborating</strong> with teams
  </h2>

  <a
    href="/work"
    class="flex items-center h-14 px-7 text-lg text-white bg-black rounded-full w-fit border"
  >
    All projects
  </a>
</section>
