<section class="mt-24 md:mt-56 mx-4 md:mx-8 2xl:mx-24">
  <h2 class="text-black font-semibold text-6xl text-center">
    <strong class="fancy-font">Best-in-class</strong> software development, leading
    software solutions while
    <strong class="fancy-font">collaborating</strong> with teams
  </h2>
</section>
