.About-Me-Container {
  display: grid;
}
.About-Me-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.About-Me-img img {
  border-radius: 5px;
}
.About-Me-Container p {
  text-align: justify;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .About-Me-Container {
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 20px;
  }
  .About-Me-img {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 20px;
  }
}
