.Contact-container h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.Contact-icons-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

@media screen and (min-width: 425px) {
  .Contact-container h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .Contact-icons-container {
    margin: 10px 30% 0 30%;
  }
}
