.Contact-container h2 {
  color: white;
  text-align: center;
  font-weight: 400;
}
.Contact-icons-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 25% 0 25%;
}
@media screen and (min-width: 1024px) {
  .Contact-icons-container {
    margin: 10px 30% 0 30%;
  }
}
