.FeaturedProject {
  display: grid;
  padding: 20px 10px;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #252b43;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}
.FeaturedProject-Image-Container {
  display: flex;
  justify-content: center;
}
.FeaturedProject-Image-Container img {
  border-radius: 5px;
}
.FeaturedProject-Description {
  padding: 0 10px;
}
.FeaturedProject-Actions {
  display: flex;
  justify-content: space-between;
}
.FeaturedProject-Actions a {
  min-width: 90px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}
.FeaturedProject-Code-btn {
  transition: 0.3s;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0 0 10px 0 rgb(0 0 0);
}
.FeaturedProject-Demo-btn {
  transition: 0.3s;
  background: none;
  border: 1px solid #00c58e;
  color: #00c58e;
}
@media screen and (min-width: 425px) {
  .FeaturedProject-Actions {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .FeaturedProject {
    grid-gap: 20px;
    align-items: center;
    max-width: 944px;
  }
  .FeaturedProject-Demo-btn:hover {
    transition: 0.3s;
    background-color: #00c58e;
    color: white;
  }
  .FeaturedProject-Code-btn {
    box-shadow: none;
  }
  .FeaturedProject-Code-btn:hover {
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgb(0 0 0);
  }
}
@media screen and (min-width: 1024px) {
  .FeaturedProject {
    margin: 0 10%;
  }
  .FeaturedProject-Image-Container img {
    width: 375px;
    height: 177.63px;
  }
  .FeaturedProject-Description H2,
  .FeaturedProject-Description p {
    text-align: center;
  }
}
