.Frontend-skills {
  display: grid;
  background-color: #252b43;
  border-radius: 5px;
  padding: 10px;
}
.Frontend-skills div h2 {
  margin: 0;
}
.Frontend-skills div hr {
  margin-bottom: 20px;
}
.Frontend-icons {
  display: flex;
}
.Frontend-icons img {
  margin: 0 10px;
}
