.Hero-Text {
  display: grid;
}
.Hero-Text h2 {
  text-align: center;
}
.Hero-Illustration {
  display: grid;
  justify-content: center;
}
.Illustration-container {
  display: flex;
  justify-content: center;
}
.Hero-Description {
  color: #c4c4c4;
  margin: 0 20px;
  margin-top: 50px;
  text-align: justify;
}
.Hero-Description strong {
  color: #00c58e;
}

@media screen and (min-width: 768px) {
  .Hero-Illustration {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .Illustration-container img {
    width: 579px;
    height: 359px;
  }
  .Hero-Description {
    font-size: 20px;
  }
  .Hero-Text h2 {
    font-size: 50px;
  }
}
