.MyNameHeader-Container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.MyNameHeader-Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.MyNameHeader-Logo img {
  border-radius: 5px;
  margin-right: 15px;
}
.NavInDesk {
  display: none;
}
.MyNameHeader-Projects {
  border: 1px solid #00c58e !important;
  padding: 10px;
  border-radius: 5px;
}
.MyNameHeader-Projects:hover {
  color: white !important;
  background-color: #00c58e;
}

@media screen and (min-width: 768px) {
  .NavInDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
  }
  .NavInDesk a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .NavInDesk a:hover {
    transition: 0.3s;
    color: #00c58e;
  }
}
@media screen and (min-width: 768px) {
  .MyNameHeader-Container {
    justify-content: space-between;
    margin: 20px;
  }
}
