.NavInDesk {
  display: none;
}

@media screen and (min-width: 768px) {
  .NavInDesk {
    display: flex;
    justify-content: space-between;
    width: 170px;
  }
  .NavInDesk a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .NavInDesk a:hover {
    transition: 0.3s;
    color: #00c58e;
  }
}
