.Project {
  display: grid;
  padding: 20px 10px;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #252b43;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}
.Project-Image-Container {
  display: flex;
  justify-content: center;
}
.Project-Image-Container img {
  border-radius: 5px;
}
.Project-Description {
  padding: 0 10px;
}
.Project-Actions {
  display: flex;
  justify-content: space-between;
}
.Project-Actions a {
  min-width: 90px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}
.Project-Code-btn {
  background-color: #1e1e1e;
  color: white;
}
.Project-Demo-btn {
  transition: 0.3s;
  background: none;
  border: 1px solid #00c58e;
  color: #00c58e;
}

@media screen and (min-width: 425px) {
  .Project-Actions {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .Project {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    max-width: 944px;
  }
  .Project-Demo-btn:hover {
    transition: 0.3s;
    background-color: #00c58e;
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  .Project {
    margin: 0 10%;
  }
  .Project-Image-Container img {
    width: 477px;
    height: 201px;
  }
}
