.Skills-container h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.Skills-Technologies-container {
  background-color: #333333;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 425px) {
  .Skills-Technologies-container img {
    width: 40px;
    height: 40px;
  }
  .Skills-container h2 {
    font-size: 26px;
  }
}
