.bg-project-card {
  background: var(--card-bg)
}

@media (min-width: 1024px) {
  .bg-project-card {
    background: none;
  }

  .bg-project-card:hover {
    background: var(--card-bg)

  }
}

.project-card-container:hover a {
  background: var(--card-bg);
  padding-left: 0.5rem;
  border-color: var(--card-stroke);
}