---
import CopyEmail from "../copy-email.astro";
import ContactMe from "../contact-me.astro";
---

<div
  class="flex items-center gap-10 opacity-0 slide-in-bottom"
  style="animation-delay: .6s;"
>
  <ContactMe />
  <CopyEmail />
</div>
