---
import { MoveDown } from "lucide-astro";
import GithubIcon from "../icons/github-icon.astro";
---

<div class="opacity-0 slide-in-bottom flex items-center justify-between pb-8">
  <div class="text-xl md:hidden">
    <p class="text-black font-medium">Samuel</p>
    <p class="font-normal">Software Engineer</p>
  </div>
  <div class="hidden md:flex items-center gap-8">
    <MoveDown size="16" />
    <p>Scroll down</p>
  </div>
  <div>
    <GithubIcon />
  </div>
</div>
