---
import HeroFooter from "./hero-footer.astro";
import HeroText from "./hero-text.astro";
import HeroActions from "./hero-actions.astro";
---

<section
  class="px-4 pt-14 h-[calc(100vh-var(--header-height))] border-b flex flex-col justify-between md:px-8 2xl:px-24"
>
  <div class="flex flex-col items-center gap-14 max-w-5xl mx-auto">
    <HeroText />
    <HeroActions />
  </div>
  <HeroFooter />
</section>
