<div class="opacity-0 slide-in-bottom-tiny" style="animation-delay: .3s;">
  <h1 class="text-black text-4xl font-semibold text-center md:hidden">
    I deliver innovative <strong class="fancy-font">software products</strong>
  </h1>
  <div class="hidden md:flex flex-col gap-7">
    <h1 class="text-black text-6xl font-semibold text-center">
      I design and develop innovative <strong class="fancy-font"
        >software products</strong
      >
    </h1>
    <h2 class="text-2xl text-center">
      I&apos;m Samuel, a <strong class="font-medium text-black"
        >Software Engineer</strong
      >
    </h2>
  </div>
</div>
