---
import Layout from "../../layouts/Layout.astro";

import HeroImage from "../../assets/images/tic-tac-toe.png";
import ProjectDetailsHero from "../../components/project-details-hero.astro";
import Footer from "../../components/footer/footer.astro";
import { Image } from "astro:assets";

import ExpoImage1 from "../../assets/images/expos/tic-tac-toe-expo-1.png";
---

<Layout class:list="dark !bg-[#1f3641]">
  <ProjectDetailsHero
    title="Tic Tac Toe"
    subtitle="tic-tac-toe multiplayer game"
    techs={["react-28", "ts-28", "socket-io-28"]}
    image={HeroImage}
    livePreview="https://tictactoe-multi.vercel.app/"
    transitionName="image-tic-tac-toe"
    color="#192B32"
  />

  <section class="mt-56 flex justify-center mx-4 md:mx-8">
    <Image
      src={ExpoImage1}
      alt="Tic Tac Toe game board"
      class="rounded-lg max-w-5xl w-full border"
    />
  </section>

  <Footer />
</Layout>
