.FeaturedProjectDescription-Technologies {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 28%;
}
.FeaturedProjects-btn {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}
.FeaturedProjects-btn button {
  cursor: pointer;
  margin: 0 10px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .FeaturedProjectDescription-Technologies {
    margin: auto;
    margin-top: 20px;
  }
  /* .FeaturedProjectDescription-Technologies img{
    margin: 0;
  } */
  .FeaturedProjects-btn {
    justify-content: center;
  }
}
