.BlogsSection {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.BlogSection-content-blog {
  display: grid;
  grid-gap: 20px;
}
.BlogSection-content-link {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.BlogSection-content-link a {
  text-decoration: none;
  color: #2f80ed;
  font-size: 2rem;
  font-weight: bold;
}
.BlogSection-content-link a:hover {
  text-decoration: underline;
}
