.Contact {
  margin: 50px 10px 100px 10px;
}
.Contact-Description p {
  font-size: 20px;
}
.Contact-content {
  display: grid;
  justify-content: center;
}
.Contact-Illustration {
  display: flex;
  justify-content: center;
}
.Contact-Description p {
  text-align: center;
}
.Contact-Link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Contact-Link a {
  color: white;
  font-size: 20px;
  background-color: #0779e4;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 24px;
}

/*dark and white mode */

.Contact-Description-p-Dark {
  color: white;
}
.Contact-Description-p-White {
  color: black;
}
