.ContactSection {
  background-color: #2c2c2c;
  padding: 20px 10px 100px 10px;
}
.ContactSection-text {
  display: grid;
  grid-gap: 20px;
}
.ContactSection-text p {
  margin: 0;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.ContactSection-text-social {
  display: flex;
  justify-content: center;
}
.ContactSection-text-primary {
  display: flex;
  justify-content: center;
}
.ContactSection-illustration {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.ContactSection-illustration img {
  width: 241px;
  height: 233, 36px;
}
