.ContactSection {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  padding: 20px 80px;
  background-color: #2c2c2c;
}
.ContactSection-right-p {
  margin-left: 400px;
}
.ContactSection-right-p p {
  text-align: justify;
  font-size: 2rem;
  color: white;
}
.ContactSection-right-social {
  margin-left: 400px;
  display: flex;
  justify-content: space-between;
}
.ContactSection-right-social-link {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  background-color: #2f80ed;
  border-radius: 5px;
  padding: 10px 40px;
}
