.Hero {
  margin: 20px 10px 50px 10px;
}
.Hero-content {
  display: grid;
  grid-gap: 20px;
}
.Hero-illustration {
  display: flex;
  justify-content: center;
}
.Hero-illustration img {
  width: 292px;
  height: 207px;
}
.Hero-content h1,
.Hero-content p {
  text-align: center;
  margin: 0;
}
.Hero-content h1 {
  color: white;
  font-size: 3.6rem;
}
.Hero-content p {
  color: #b7b7b7;
  font-size: 1.8rem;
}
.Hero-content-actions {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 50px;
}
.Hero-content-actions-about {
  font-size: 1.6rem;
  color: #2f80ed;
  text-decoration: none;
  padding: 5px 20px;
  border: 1px solid #2f80ed;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.Hero-content-links {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .Hero {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 80px 50px 80px;
    height: 79vh;
    align-items: center;
  }
  .Hero-content {
    align-items: flex-start;
  }
  .Hero-content h1,
  .Hero-content p {
    text-align: start;
    margin: 0;
  }
  .Hero-content-actions {
    justify-content: start;
  }
  .Hero-content-links {
    justify-content: start;
  }
  .Hero-illustration img {
    width: 430px;
    height: 304.83px;
  }
}
@media screen and (min-width: 1300px) {
  .Hero-content-actions-about {
    transition: 0.25s;
  }
  .Hero-content-actions-about:hover {
    transition: 0.25s;
    background-color: black;
  }
  .Hero-illustration img {
    width: 532px;
    height: 377.14px;
  }
}
