.Hero {
  display: flex;
  align-items: center;
  margin: 0 8rem;
}
.Hero-left-text h1,
.Hero-left-text p {
  color: white;
}
.Hero-left-text h1 {
  margin: 0;
  font-size: 6.4rem;
  font-weight: bold;
}
.Hero-left-text p {
  font-size: 2.2rem;
  font-weight: bold;
}
.Hero-left-actions {
  margin-top: 4rem;
}
.Hero-left-actions-btn a {
  font-size: 2rem;
  text-decoration: none;
  margin: 0 4rem;
}
.Hero-left-actions-btn-project {
  background-color: #2f80ed;
  color: white;
  padding: 1rem 5rem;
  border-radius: 5px;
}
.Hero-left-actions-btn-about {
  transition: 0.25s;
  color: #2f80ed;
  border: 1px solid #2f80ed;
  padding: 1rem 5rem;
  border-radius: 5px;
}
.Hero-left-actions-btn-about:hover {
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.2);
}
