.Hero {
  display: flex;
  align-items: center;
  margin: 0 80px;
  height: 90vh;
}
.Hero-left-text h1 {
  color: white;
  margin: 0;
  font-size: 6.4rem;
  font-weight: 400;
}
.Hero-left-text p {
  color: #b7b7b7;
  font-size: 2.4rem;
  font-weight: 400;
}
.Hero-left-actions {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
}
.Hero-left-actions-btn {
  display: flex;
  align-items: flex-start;
}
.Hero-left-actions-btn a {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
.Hero-left-actions-btn-project {
  background-color: #2f80ed;
  color: white;
  padding: 1rem 5rem;
  border-radius: 5px;
  margin-right: 40px;
}
.Hero-left-actions-btn-about {
  transition: 0.25s;
  color: #2f80ed;
  border: 1px solid #2f80ed;
  padding: 1rem 5rem;
  border-radius: 5px;
}
.Hero-left-actions-btn-about:hover {
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.2);
}
.Hero-left-actions-links {
  max-width: 220px;
}
.Hero-right img {
  width: 532px;
  height: 377.14px;
}
