.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.Nav-left img {
  width: 40px;
  height: 40px;
}
.Nav-hamburger {
  display: inline-block;
}
.Nav-hamburger div {
  width: 35px;
  height: 5px;
  background-color: #2f80ed;
  margin: 6px 0;
  transition: 0.4s;
}
.convert .Nav-hamburger-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.convert .Nav-hamburger-2 {
  opacity: 0;
}
.convert .Nav-hamburger-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}
