.Nav {
  background-color: #222831;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 5px 0;
  height: 60px;
  position: fixed;
  bottom: 0;
}
.Nav a {
  text-decoration: none;
}
.Nav p {
  margin: 0;
  font-size: 1.4rem;
  color: #b7b7b7;
}
.Nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nav-left img {
  width: 30px;
  height: 30px;
}
.Nav-center img {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
}
.Nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nav-right img {
  width: 30px;
  height: 30px;
}

.NavDesktop {
  display: flex;
  justify-content: space-between;
  background-color: #222831;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 20px 80px;
}
.NavDesktop-right {
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavDesktop-right-blog,
.NavDesktop-right-about {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
