---
interface Props {
  text: string
  url: string
  className?: string
}

const { text, url, className } = Astro.props
---

<div class={className}>
  <a
    class='p-2 rounded-[4px] text-label font-semibold text-neutral-1 hover:bg-[#333] transition-all'
    href={url}>{text}</a
  >
  <!-- <hr class='bg-primary border-none h-[2.5px] w-1/2 m-auto rounded-full' /> -->
</div>

<style></style>
