.AboutMe {
  margin: 100px 20px 100px 20px;
}
.AboutMe-Text {
  text-align: justify;
  margin-top: 30px;
}

/* Dark and white mode */
.AboutMe-Text-White {
  transition: all 0.25s linear;
  color: black;
}
.AboutMe-Text-Dark {
  transition: all 0.25s linear;
  color: white;
}

@media screen and (min-width: 1024px) {
  .AboutMe-Text {
    text-align: center;
  }
}
