.Contact-content-page {
  display: grid;
  justify-content: center;
}
.Contact-content {
  margin-bottom: 100px;
}
.Contact-illustration-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
/* @media screen and (min-width: 1024px) {
}

/* @media screen and (min-width: 1440px) {
  .Contact-illustration-container img {
    width: 450px;
    height: 239px;
  }
} */
