.Contact-content-page {
  display: grid;
  justify-content: center;
  margin-bottom: 100px;
  margin: 70px 0 100px 0;
}

.Contact-illustration-container {
  display: flex;
  justify-content: center;
}
