html {
  font-family: 'Work Sans', system-ui, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  scroll-behavior: smooth;
  @apply bg-bg text-neutral-2;
}


strong {
  font-weight: 600;
  @apply text-neutral-1;
}

button {
  text-transform: uppercase;
}