---
import InfoSection from './info-section.astro';
---

<InfoSection title="About">
  <p class="jb-font">
    My main purpose is to enhance user experiences by creating websites adjusted
    to the device, capacities and needs of the user. <br /><br />Besides
    software engineer, I love playing video games, hang out with friends, coffee
    and music.
  </p>
</InfoSection>
