---
---

<section class='flex flex-col gap-8 lg:flex-row lg:items-center' id='me'>
  <div class='flex flex-col gap-8 lg:w-1/2'>
    <h2 class='text-h4 tracking-h4 capitalize'>
      <strong>About me<span class='text-primary'>.</span></strong>
    </h2>
    <p class='text-h4 tracking-h4 normal-case lg:text-h3'>
      As a software developer I <strong>design, develop and deliver</strong> software products to improve
      the world with technology. Besides software engineer, <strong
        >I love playing video games, hang out with friends, coffee and music</strong
      >
    </p>
  </div>
  <div class='flex gap-12 lg:w-1/2'>
    <div class='flex flex-col gap-12 mt-20'>
      <img src='/images/coffee.jpg' alt='coffee' class='rounded-xl w-full h-[275px] object-cover' />
      <img
        src='/images/music.jpg'
        alt='earphones'
        class='rounded-xl w-full h-[275px] object-cover'
      />
    </div>
    <div class='flex flex-col gap-12'>
      <img
        src='/images/ps.jpg'
        alt='Playstation controller'
        class='rounded-xl w-full h-[275px] object-cover'
      />
      <img
        src='/images/friends.jpg'
        alt='Hang out with friends'
        class='rounded-xl w-full h-[275px] object-cover'
      />
    </div>
  </div>
</section>
