---
import BgSphere from '../common/BgSphere.astro'
import Chakra from '../icons/techs/Chakra.astro'
import Figma from '../icons/techs/Figma.astro'
import Github from '../icons/techs/Github.astro'
import GraphQL from '../icons/techs/GraphQL.astro'
import Jest from '../icons/techs/Jest.astro'
import Mongo from '../icons/techs/Mongo.astro'
import Nest from '../icons/techs/Nest.astro'
import Nextjs from '../icons/techs/Nextjs.astro'
import Postgresql from '../icons/techs/Postgresql.astro'
import Postman from '../icons/techs/Postman.astro'
import Prisma from '../icons/techs/Prisma.astro'
import Railway from '../icons/techs/Railway.astro'
import ReactQuery from '../icons/techs/ReactQuery.astro'
import TailwindCSS from '../icons/techs/TailwindCSS.astro'
import TesitngLibrary from '../icons/techs/TesitngLibrary.astro'
import TypeScript from '../icons/techs/TypeScript.astro'
import Vercel from '../icons/techs/Vercel.astro'
import VisualStudioCode from '../icons/techs/VisualStudioCode.astro'
import Vitest from '../icons/techs/Vitest.astro'
---

<section class='flex flex-col gap-5 lg:gap-8 mt-24' id='work'>
  <h2 class='text font-semibold capitalize'>
    About Me<span class='text-primary'>.</span>
  </h2>
  <div class='relative'>
    <p class='text-neutral-2 text-base lg:!text-xl font-normal leading-7'>
      My main purpose is to <strong class='text-neutral-1'>enhance user experiences</strong> by creating
      websites adjusted to the device, capacities and needs of the user. Besides software engineer,
      <strong class='text-neutral-1'
        >I love playing video games, hang out with friends, coffee and music.</strong
      >
    </p>
    <BgSphere />
  </div>
  <div class='flex flex-col gap-4'>
    <h3 class='font-semibold text-2xl tracking-[0.96px]'>Skills</h3>
    <div class='flex flex-wrap gap-4'>
      <Nextjs />
      <Nest />
      <TypeScript />
      <GraphQL />
      <ReactQuery />
      <TailwindCSS />
      <Chakra />
      <Postgresql />
      <Mongo />
      <Prisma />
      <TesitngLibrary />
      <Jest />
      <Vitest />
    </div>
  </div>
  <div class='flex flex-col gap-4'>
    <h3 class='font-semibold text-2xl tracking-[0.96px]'>Tools</h3>
    <div class='flex flex-wrap gap-4'>
      <VisualStudioCode />
      <Figma />
      <Postman />
      <Github />
      <Vercel />
      <Railway />
    </div>
  </div>
</section>
