---
---

<section class='flex flex-col gap-8 lg:flex-row lg:items-center' id='me'>
  <div class='flex flex-col gap-8 lg:w-1/2'>
    <h2 class='text-h4 tracking-h4 capitalize'>
      <strong>About me<span class='text-primary'>.</span></strong>
    </h2>
    <p class='text-h4 tracking-h4 normal-case lg:text-h3'>
      As a software developer,
      <strong>I design, develop, and deliver innovative software products.</strong>
      My main purpose is to enhance user experiences by creating websites adjusted to the device, capacities
      and needs of the user. Besides software engineer,
      <strong>I love playing video games, hang out with friends, coffee and music</strong>
    </p>
  </div>
  <div class='flex gap-12 lg:w-1/2'>
    <div class='flex flex-col gap-12 mt-20'>
      <img
        loading='lazy'
        src='/images/coffee.webp'
        alt='coffee'
        class='rounded-xl w-full h-[275px] object-cover'
      />
      <img
        loading='lazy'
        src='/images/music.webp'
        alt='earphones'
        class='rounded-xl w-full h-[275px] object-cover'
      />
    </div>
    <div class='flex flex-col gap-12'>
      <img
        loading='lazy'
        src='/images/ps.webp'
        alt='Playstation controller'
        class='rounded-xl w-full h-[275px] object-cover'
      />
      <img
        loading='lazy'
        src='/images/friends.webp'
        alt='Hang out with friends'
        class='rounded-xl w-full h-[275px] object-cover'
      />
    </div>
  </div>
</section>
