---
import BgSphere from '../common/BgSphere.astro'
import Chakra from '../icons/techs/Chakra.astro'
import Figma from '../icons/techs/Figma.astro'
import Github from '../icons/techs/Github.astro'
import GraphQL from '../icons/techs/GraphQL.astro'
import Jest from '../icons/techs/Jest.astro'
import Mongo from '../icons/techs/Mongo.astro'
import Nest from '../icons/techs/Nest.astro'
import Nextjs from '../icons/techs/Nextjs.astro'
import Postgresql from '../icons/techs/Postgresql.astro'
import Postman from '../icons/techs/Postman.astro'
import Prisma from '../icons/techs/Prisma.astro'
import Railway from '../icons/techs/Railway.astro'
import ReactQuery from '../icons/techs/ReactQuery.astro'
import TailwindCSS from '../icons/techs/TailwindCSS.astro'
import TesitngLibrary from '../icons/techs/TesitngLibrary.astro'
import TypeScript from '../icons/techs/TypeScript.astro'
import Vercel from '../icons/techs/Vercel.astro'
import VisualStudioCode from '../icons/techs/VisualStudioCode.astro'
import Vitest from '../icons/techs/Vitest.astro'
---

<section class='flex flex-col gap-5 lg:gap-8 lg:flex-row' id='work'>
  <div class='flex flex-col gap-5 lg:gap-8'>
    <h2 class='text font-semibold capitalize'>
      About Me<span class='text-primary'>.</span>
    </h2>
    <div class='relative'>
      <p class='text-neutral-2 text-base lg:!text-xl font-normal leading-7'>
        My main purpose is to <strong class='text-neutral-1'>enhance user experiences</strong> by creating
        websites adjusted to the device, capacities and needs of the user. Besides software engineer,
        <strong class='text-neutral-1'
          >I love playing video games, hang out with friends, coffee and music.</strong
        >
      </p>
      <BgSphere />
    </div>
    <div class='flex flex-col gap-4'>
      <h3 class='font-semibold text-2xl tracking-[0.96px]'>Skills</h3>
      <div class='flex flex-wrap gap-4'>
        <Nextjs />
        <Nest />
        <TypeScript />
        <GraphQL />
        <ReactQuery />
        <TailwindCSS />
        <Chakra />
        <Postgresql />
        <Mongo />
        <Prisma />
        <TesitngLibrary />
        <Jest />
        <Vitest />
      </div>
    </div>
    <div class='flex flex-col gap-4'>
      <h3 class='font-semibold text-2xl tracking-[0.96px]'>Tools</h3>
      <div class='flex flex-wrap gap-4'>
        <VisualStudioCode />
        <Figma />
        <Postman />
        <Github />
        <Vercel />
        <Railway />
      </div>
    </div>
  </div>
  <div>
    <div class='flex flex-col gap-4 mt-10'>
      <h3 class='font-semibold text-2xl tracking-[0.96px]'>Experience</h3>
      <div class='flex flex-col'>
        <div class='flex gap-2'>
          <div class='flex flex-col items-center mt-1'>
            <div class='w-4 h-[18px] rounded-full border-2 border-neutral-1'></div>
            <div class='w-[1px] h-full bg-neutral-2'></div>
          </div>
          <div class='flex flex-col gap-3 mb-16'>
            <div class='flex gap-2'>
              <h4 class='font-semibold'>Full stack developer</h4>
              <span class='text-neutral-1'>•</span>
              <h4 class='font-semibold'>DrEnvío</h4>
            </div>
            <div class='flex flex-col gap-2'>
              <span class='text-base font-bold text-neutral-2'>Jan 2022 - Present</span>
              <p class='text-neutral-2 text-base lg:!text-xl font-normal leading-7'>
                Maintenance and development of the different DrEnvio projects, refactoring, online
                payment solutions, shipping quotes, search systems, connections with external APIs
                and the contribution of new technologies for scalability and optimization.
              </p>
            </div>
          </div>
        </div>
        <div class='flex gap-2 -my-1'>
          <div class='flex flex-col items-center mt-1'>
            <div class='w-4 h-4 rounded-full border-2 border-neutral-1'></div>
            <!-- <div class='w-[1px] h-full bg-neutral-2'></div> -->
          </div>
          <div class='flex flex-col gap-3 mb-16'>
            <div class='flex gap-2'>
              <h4 class='font-semibold'>Front-end developer</h4>
              <span class='text-neutral-1'>•</span>
              <h4 class='font-semibold'>EDteam</h4>
            </div>
            <div class='flex flex-col gap-2'>
              <span class='text-base font-bold text-neutral-2'>Sep 2020 – Jan 2022</span>
              <p class='text-neutral-2 text-base lg:!text-xl font-normal leading-7'>
                Maintenance and development of the platform built on Nextjs with Javascript and
                Typescript, alternating, 100% remote, multicultural team and scrum methodology for
                goals.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class='flex items-center ml-2'>
          <div class='flex items-center'>
            <a
              class='text-sm flex gap-3 items-center p-3 border w-fit hover:border-neutral-2 rounded-md text-neutral-1 font-ibm tracking-[0.64px]'
              href=''
              >CONTACT ME
              <svg
                width='20'
                height='20'
                viewBox='0 0 20 20'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  d='M18.125 5.625V14.375C18.125 14.8723 17.9275 15.3492 17.5758 15.7008C17.2242 16.0525 16.7473 16.25 16.25 16.25H3.75C3.25272 16.25 2.77581 16.0525 2.42417 15.7008C2.07254 15.3492 1.875 14.8723 1.875 14.375V5.625M18.125 5.625C18.125 5.12772 17.9275 4.65081 17.5758 4.29917C17.2242 3.94754 16.7473 3.75 16.25 3.75H3.75C3.25272 3.75 2.77581 3.94754 2.42417 4.29917C2.07254 4.65081 1.875 5.12772 1.875 5.625M18.125 5.625V5.8275C18.125 6.14762 18.0431 6.46242 17.887 6.74191C17.7309 7.0214 17.5059 7.25628 17.2333 7.42417L10.9833 11.27C10.6877 11.4521 10.3472 11.5485 10 11.5485C9.65275 11.5485 9.31233 11.4521 9.01667 11.27L2.76667 7.425C2.4941 7.25711 2.26906 7.02224 2.11297 6.74275C1.95689 6.46325 1.87496 6.14845 1.875 5.82833V5.625'
                  stroke='#F1F1F1'
                  stroke-width='1.5'
                  stroke-linecap='round'
                  stroke-linejoin='round'></path>
              </svg>
            </a>
          </div> -->
      </div>
    </div>
  </div>
</section>
