---
import DrEnvio from '../icons/enterprise/DrEnvio.astro'
import EDteam from '../icons/enterprise/EDteam.astro'
import Jeanda from '../icons/enterprise/Jeanda.astro'
import { Animation } from '../react/Animation'
---

<section class='flex flex-col gap-8 lg:gap-20' id='experience'>
  <Animation client:load>
    <h2 class='text-h4 tracking-h4 normal-case lg:text-h2'>
      Some of the <strong
        >clients I have <br /> worked for<span class='text-primary'>.</span></strong
      >
    </h2>
  </Animation>
  <div class='flex flex-col items-center gap-1 lg:flex-row lg:justify-evenly'>
    <Animation client:load y={[75, 0]} className='w-36 lg:w-56'>
      <a href='https://jeanda.mx' target='_blank' aria-label='go to jeanda website'>
        <Jeanda />
      </a>
    </Animation>
    <Animation client:load y={[75, 0]} className='w-36 lg:w-56'>
      <a href='https://ed.team' target='_blank' aria-label='go to edteam website'>
        <EDteam />
      </a>
    </Animation>
    <Animation client:load y={[75, 0]} className='w-36 lg:w-56'>
      <a href='https://drenvio.com' target='_blank' aria-label='go to drenvio website'>
        <DrEnvio />
      </a>
    </Animation>
  </div>
</section>
