---
import DrEnvio from '../icons/DrEnvio.astro'
import EDteam from '../icons/EDteam.astro'
import Jeanda from '../icons/Jeanda.astro'
---

<section class='flex flex-col gap-8'>
  <h2 class='text-h4 tracking-h4'>
    Some of the <strong>clients I have worked for<span class='text-primary'>.</span></strong>
  </h2>
  <div class='flex flex-col items-center gap-16'>
    <a href='https://jeanda.mx' target='_blank'>
      <Jeanda />
    </a>
    <a href='https://ed.team' target='_blank'>
      <EDteam />
    </a>
    <a href='https://drenvio.com' target='_blank'>
      <DrEnvio />
    </a>
  </div>
</section>
