---
import DrEnvio from '../icons/enterprise/DrEnvio.astro'
import EDteam from '../icons/enterprise/EDteam.astro'
import Jeanda from '../icons/enterprise/Jeanda.astro'
---

<section class='flex flex-col gap-8 lg:gap-20'>
  <h2 class='text-h4 tracking-h4 normal-case lg:text-h2'>
    Some of the <strong>clients I have worked for<span class='text-primary'>.</span></strong>
  </h2>
  <div class='flex flex-col items-center gap-16 lg:flex-row lg:justify-evenly'>
    <a href='https://jeanda.mx' target='_blank' class='w-36 lg:w-56'>
      <Jeanda />
    </a>
    <a href='https://ed.team' target='_blank' class='w-36 lg:w-56'>
      <EDteam />
    </a>
    <a href='https://drenvio.com' target='_blank' class='w-36 lg:w-56'>
      <DrEnvio />
    </a>
  </div>
</section>
