---
import GithubIcon from '../icons/GithubIcon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
---

<footer class='flex flex-col justify-center gap-4 lg:flex-row lg:justify-between lg:items-center'>
  <div class='flex gap-7 justify-center'>
    <GithubIcon />
    <LinkedinIcon />
  </div>
  <div>
    <p
      class='text-base lg:!text-xl font-normal text-neutral-2 leading-7 text-center lg:w-[431px] lg:text-left'
    >
      Designed with <strong class='text-neutral-1'>Figma</strong>, developed with <strong
        class='text-neutral-1'>Astro</strong
      > and <strong class='text-neutral-1'>tailwind</strong> and deployed on <strong
        class='text-neutral-1'>Vercel</strong
      >
    </p>
  </div>
</footer>
