---
import Github from '../icons/techs/Github.astro'
import Linkedin from '../icons/techs/Linkedin.astro'
import Email from '../icons/techs/email.astro'
---

<section class='flex flex-col gap-8' id='get-in-touch'>
  <div class='flex flex-col gap-3'>
    <h2 class='text-h4 tracking-h4 text-center normal-case lg:text-h2'>
      Get in <strong>Touch<span class='text-primary'>.</span></strong>
    </h2>
    <p class='text-body-1 text-center normal-case'>Some places where you can reach me</p>
  </div>
  <div class='flex justify-center gap-10'>
    <a href='https://www.linkedin.com/in/rogelio-samuel-moreno-corrales/' target='_blank'>
      <Linkedin />
    </a>
    <a href='https://github.com/sam-621' target='_blank'>
      <Github />
    </a>
    <a href='mailto:samuel.corrales621@gmail.com' target='_blank'>
      <Email />
    </a>
  </div>
</section>
