<section class='h-screen flex flex-col justify-between py-5'>
  <header class='flex justify-between items-center'>
    <img src='/favicon.svg' alt='Logo' />
    <nav class='flex gap-8'>
      <span class='text-label font-semibold text-neutral-1'>Work</span>
      <span class='text-label font-semibold text-neutral-1'>Blog</span>
    </nav>
  </header>
  <div>
    <h1 class='normal-case text-center text-h3 text-neutral-2'>
      I’m a <strong>software developer</strong> specialized in <strong>web</strong> technologies
    </h1>
  </div>
  <div class='flex justify-center'>
    <img class='w-10' src='/icons/chevron-down.svg' alt='down' />
  </div>
</section>
