---
import ChevronDown from '../icons/ChevronDown.astro'
import { Animation } from '../react/Animation'
---

<section class='h-screen flex flex-col justify-between py-5 lg:py-8'>
  <header class='flex justify-between items-center'>
    <Animation client:load>
      <img src='/favicon.svg' alt='Logo' />
    </Animation>
    <nav class='flex gap-8'>
      <Animation client:load>
        <a
          href='/CV.pdf'
          target='_blank'
          class='py-4 font-normal text-sm rounded-xl text-neutral-1 tracking-button hover:bg-neutral-1 hover:text-bg hover:px-6 transition-all lg:text-button lg:px-6'
        >
          Download CV
        </a>
      </Animation>
    </nav>
  </header>
  <div>
    <Animation client:load y={[-75, 0]}>
      <h1 class='normal-case text-center text-h3 text-neutral-2 lg:text-h1'>
        I’m <strong>Rogelio Samuel</strong> a software developer specialized in <strong
          >web technologies</strong
        >
      </h1>
    </Animation>
  </div>
  <div class='flex justify-center'>
    <a href='#work' aria-label='Go to work section'>
      <ChevronDown className='animate-bounce w-10 h-10' />
    </a>
  </div>
</section>

<style></style>
