---
import { getCollection } from 'astro:content'
import Project from '../cards/Project.astro'

const projects = (await getCollection('projects')).sort((a, b) => a.data.order - b.data.order)
---

<section class='flex flex-col gap-8 lg:gap-20' id='work'>
  <h2 class='text-center font-semibold capitalize'>
    My Work<span class='text-primary'>.</span>
  </h2>
  <div class='flex flex-col gap-10 lg:gap-32 lg:grid grid-cols-2'>
    {projects.map((p, i) => <Project project={p} i={i} />)}
  </div>
</section>
