---
import { getCollection } from 'astro:content'
import Project from '../card/Project.astro'
import { Animation } from '../react/Animation'

const projects = (await getCollection('projects')).sort((a, b) => a.data.order - b.data.order)
---

<section class='flex flex-col gap-8 lg:gap-20' id='work'>
  <Animation client:load>
    <h2 class='text-h4 tracking-h4 capitalize lg:text-h2'>
      My <strong>Work<span class='text-primary'>.</span></strong>
    </h2>
  </Animation>
  <div class='flex flex-col gap-10 lg:gap-32'>
    {projects.map((p, i) => <Project project={p} i={i} />)}
  </div>
</section>
