---
import { Link } from "lucide-astro";
import Icon from "../../components/icon.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import HeroImage from "../../assets/images/wsql.png";
import Footer from "../../components/footer/footer.astro";
import ProjectDetailsHero from "../../components/project-details-hero.astro";
---

<Layout class:list="dark">
  <ProjectDetailsHero
    techs={["next", "ts", "tailwind"]}
    image={HeroImage}
    livePreview="https://websql.dev"
    github="https://github.com/sam-621/websql.dev"
    transitionName="image-WSQL"
  />

  <!-- <section class="mt-56 flex flex-col text-center text-black">
    <p class="md:text-2xl">Characteristics</p>
    <div
      class="text-4xl font-normal flex flex-col gap-4 md:text-6xl md:font-medium"
    >
      <h3>Query runner</h3>
      <h3>Table viewer</h3>
      <h3>Multi-provider</h3>
    </div>
  </section> -->

  <!-- <Footer /> -->
</Layout>
