---
import { Link } from "lucide-astro";
import Icon from "../../components/icon.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import HeroImage from "../../assets/images/wsql.png";
import Footer from "../../components/footer/footer.astro";
---

<Layout class:list="dark">
  <section class="">
    <div class="flex flex-col gap-16 mt-16 mx-4 md:mx-8 2xl:mx-24">
      <div class="flex flex-col slide-in-bottom">
        <h1
          class="text-5xl font-medium text-center text-black md:text-8xl md:font-semibold"
        >
          WEB SQL
        </h1>
        <p class="text-lg font-light text-center md:text-2xl md:font-normal">
          Web based SQL client
        </p>
      </div>
      <div
        class="opacity-0 flex items-center justify-between gap-3 slide-in-bottom"
        style="animation-delay: .3s;"
      >
        <div class="flex items-center gap-3">
          <Icon icon="next" />
          <Icon icon="ts" />
          <Icon icon="tailwind" />
        </div>
        <div class="flex items-center gap-3">
          <Link />
          <Icon icon="github" />
        </div>
      </div>
    </div>
    <div
      class="mt-5 bg-white flex justify-center items-center h-[calc(100vh-236px-var(--header-height))] md:h-auto"
      transition:name="image-WSQL"
    >
      <Image
        src={HeroImage}
        alt="Web SQL"
        class="h-full object-cover md:h-auto"
      />
    </div>
  </section>

  <!-- <section class="mt-56 flex flex-col text-center text-black">
    <p class="md:text-2xl">Characteristics</p>
    <div
      class="text-4xl font-normal flex flex-col gap-4 md:text-6xl md:font-medium"
    >
      <h3>Query runner</h3>
      <h3>Table viewer</h3>
      <h3>Multi-provider</h3>
    </div>
  </section> -->

  <Footer />
</Layout>
