---
import Hero from '../components/sections/hero.astro';
import Pattern from '../components/pattern.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/sections/section.astro';
import Icon from '../components/icon.astro';
import Info from '../components/sections/info.astro';
---

<Layout>
  <Pattern />
  <Hero />
  <Pattern />
  <Section class="md:hidden">
    <Info />
  </Section>
  <Pattern class="md:hidden" />
</Layout>
