---
import AboutMe from '@/components/sections/AboutMe.astro'
import Experience from '@/components/sections/Experience.astro'
import FeaturedBlogs from '@/components/sections/FeaturedBlogs.astro'
import GetInTouch from '@/components/sections/GetInTouch.astro'
import Hero from '@/components/sections/Hero.astro'
import Work from '@/components/sections/Work.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<main class='flex flex-col gap-20 mb-16'>
		<Hero />
		<Work />
		<AboutMe />
		<FeaturedBlogs />
		<Experience />
		<GetInTouch />
	</main>
</Layout>
