---
import Header from '../components/Header.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class='bg-view m-5'>
    <Header />
  </body>
</html>

<style is:global>
  h1 h2 h3 h4 h5 h6 p span a {
    @apply text-neutral-1;
  }
</style>
