---
import Header from '../components/sections/Header.astro'
import Hero from '../components/sections/Hero.astro'
import Work from '../components/sections/Work.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class='bg-view p-5 max-w-[1200px] lg:mx-auto'>
    <Header />
    <Hero />
    <Work />
  </body>
</html>

<style is:global>
  h2 {
    @apply text-4xl tracking-widest !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply text-neutral-1;
  }

  @media (min-width: 1024px) {
    h1 {
      @apply text-8xl !important;
    }
    h2 {
      @apply text-[40px] !important;
    }
    p {
      @apply text-2xl !important;
    }
  }
</style>
