---
import '@fontsource-variable/inter'
import '@fontsource/ibm-plex-sans'

import Header from '../components/sections/Header.astro'
import Hero from '../components/sections/Hero.astro'
import Work from '../components/sections/Work.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Footer from '../components/sections/Footer.astro'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='I’m Rogelio Samuel a software developer specialized in web technologies.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Rogelio Samuel | Software developer specialized in web technologies</title>

    <!-- Start OG tags -->
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@sam_621_' />
    <meta name='twitter:creator' content='@sam_621_' />
    <meta
      property='og:title'
      content='Rogelio Samuel | Software developer specialized in web technologies'
    />
    <meta
      property='og:description'
      content='I’m Rogelio Samuel a software developer specialized in web technologies.'
    />
    <meta property='og:url' content='https://rogeliosamuel.com' />
    <!-- <meta property='og:type' content='website' /> -->
    <meta property='og:image' content='/og-cover.webp' />
    <!-- End OG tags -->
  </head>
  <body class='bg-view p-5 max-w-[1200px] lg:mx-auto flex flex-col gap-52'>
    <div>
      <Header />
      <Hero />
    </div>
    <Work />
    <AboutMe />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Inter Variable', sans-serif;
  }
  h2 {
    @apply text-4xl tracking-widest !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply text-neutral-1;
  }

  @media (min-width: 1024px) {
    h1 {
      @apply text-8xl !important;
    }
    h2 {
      @apply text-[40px] !important;
    }
    p {
      @apply text-2xl !important;
    }
  }
</style>
