---
import { ArrowRight } from "lucide-astro";
---

<a
  href="mailto:samuel.corrales621@gmail.com"
  class="flex items-center gap-3 text-foreground bg-card p-1 pl-6 rounded-full w-fit border"
>
  Contact me
  <div class="p-3 bg-black rounded-full">
    <ArrowRight size="16" class="text-white" />
  </div>
</a>
