---
import ExternalLinks from "./external-links.astro";
import Logo from "./logo.astro";
---

<header
  class="flex justify-between items-center h-[var(--header-height)] px-4 md:p-8 md:justify-center slide-in-top"
  style="animation-fill-mode: none;"
>
  <a href="/" class="md:absolute left-8 2xl:left-24">
    <Logo />
  </a>
  <nav
    class="hidden md:flex gap-6 text-foreground bg-card rounded-full px-6 py-3 border fixed backdrop-blur-lg z-50"
  >
    <a href="/work">Work</a>
    <a href="/#about">About</a>
    <a href="">Services</a>
    <a href="">Blog</a>
  </nav>
  <ExternalLinks />
</header>
