---
import Icon from './icon.astro';
import Section from './sections/section.astro';
---

<Section class="px-4 border-y">
  <div class="flex items-center justify-between border-x px-4 py-2">
    <div>
      <p class="text-xl font-medium">Sam<span class="text-distinct">.</span></p>
    </div>
    <div class="flex items-center gap-2">
      <a
        href="https://github.com/sam-621"
        target="_blank"
        class="w-8 h-8 border rounded-full flex items-center justify-center hover:bg-[#18181B]/50 transition-colors"
      >
        <Icon icon="github" />
      </a>

      <a
        href="/CV.pdf"
        target="_blank"
        class="border rounded-full flex items-center justify-center py-2 px-3 text-sm jb-font gap-3 hover:bg-[#18181B]/50 transition-colors"
      >
        DOWNLOAD CV <Icon icon="download" />
      </a>
    </div>
  </div>
</Section>
