body {
  font-family: "Outfit Variable", sans-serif;
  @apply text-foreground;
}

* {
  @apply border-border;
}

.fancy-font {
  font-style: italic;
  font-family: "IBM Plex Serif", serif;

  background: linear-gradient(180deg, #000000 0%, #666666 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
