@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 61px;

    --background: #fafafa;
    --foreground: #383a37;
    --black: #000000;
    --black-foreground: #c7c5c8;
    --white: #ffffff;
    --border: #0000001a;
    --card: #0000000d;
  }

  .dark {
    --background: #111111;
    --foreground: #c7c5c8;
    --black: #fff;
    --black-foreground: #c7c5c8;
    --white: #000;
    --border: #ffffff1a;
    --card: #ffffff0d;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 114px;
  }
}
