@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 61px;

    --body: #0A0A0B;
    --background: #18181B;
    --foreground: #FAFAFA;
    --subtitle: #A1A1AA;
    --subtitle-secondary: #3F3F47;
    --distinct: #146EF5;
    --border: #18181B;
  }

  .dark {
    --background: #111111;
    --foreground: #c7c5c8;
    --black: #fff;
    --black-foreground: #c7c5c8;
    --white: #000;
    --border: #ffffff1a;
    --card: #ffffff0d;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 114px;
  }
}
