.PrimaryButton {
  transition: 0.1s;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  padding: 8px 30px 5px 30px;
  border: none;
  background: none;
  text-decoration: underline;
  color: white;
  height: 100%;
  display: flex;
  align-content: center;
}
.PrimaryButton:hover {
  transition: 0.1s;
  background-color: black;
  box-shadow: 0 0 10px 0 black;
  transform: scale(1.1);
}
