.PrimaryButton {
  transition: 0.2s;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  padding: 5px 30px;
  border: none;
  background: none;
  text-decoration: underline;
  color: white;
}
.PrimaryButton:hover {
  transition: 0.2s;
  background-color: black;
  box-shadow: 0 0 10px 0 black;
}
