.SecondaryButton {
  font-family: "Inconsolata", monospace;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 29px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.SecondaryButton p {
  margin: 0;
}
