---
import FeaturedProjects from "../../components/featured-projects/featured-projects.astro";
import Footer from "../../components/footer/footer.astro";
import Layout from "../../layouts/Layout.astro";
import { SECONDARY_PROJECTS } from "../../utils/projects";
---

<Layout>
  <div class="gap-8 flex flex-col">
    <FeaturedProjects id=" featured" persists />
    <FeaturedProjects
      id="secondary"
      projects={SECONDARY_PROJECTS}
      class:list="!mt-0 md:!mt-16"
    />
  </div>
  <Footer />
</Layout>
