---
import Layout from "../../layouts/Layout.astro";

import HeroImage from "../../assets/images/aureo-realty.png";
import ProjectDetailsHero from "../../components/project-details-hero.astro";
import Footer from "../../components/footer/footer.astro";
---

<Layout class:list="dark !bg-[#000]">
  <ProjectDetailsHero
    title="Aureo Realty"
    subtitle="Crafting Bespoke Real Estate Journeys with Ease and Precision in Puerto Rico."
    techs={[
      "next-28",
      "nest-28",
      "ts-28",
      "aws-28",
      "prisma-28",
      "postgresql-28",
    ]}
    image={HeroImage}
    livePreview="https://www.aureorealty.com/"
    transitionName="image-Aureo Realty"
    color="#221E1E"
  />

  <section
    class="mt-56 flex flex-col text-center text-black max-w-5xl px-4 md:px-8 mx-auto"
  >
    <p class="text-4xl leading-[1.4]">
      Powered by <strong class="font-normal underline">MLS Api</strong>
    </p>
  </section>

  <Footer />
</Layout>
