.SecondaryA {
  color: white;
  text-decoration: none;
  background-color: #333333;
  padding: 5px 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media screen and (min-width: 425px) {
  .SecondaryA {
    font-size: 20px;
  }
}
