.SecondaryA {
  color: white;
  text-decoration: none;
  background-color: #1e1e1e;
  padding: 5px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
@media screen and (min-width: 425px) {
  .SecondaryA {
    font-size: 20px;
  }
}
