.AboutProject-container{
    margin: 50px 0;
}
.Project-image{
    display: flex;
    justify-content: center;
}
.About-project{
    margin: 10px 20px;
}
.About-project h2{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
.About-project p, li{
    color: #6f6f6f;
}
.Tech-icons img{
    margin-right: 20px;
}
.Hero-project{
    display: grid;
    grid-template-rows: auto auto;
}
.AboutProjects-options{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.AboutProjects-options h1{
    align-self: center;
    font-weight: 400;
    color: white;
    margin: 0;
}
.AboutProjects-options a{
    margin: 0 20px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.AboutProjects-options a p{
    margin: 0;
    margin-right: 10px;
}
.github-code{
    transition: 0.3s;
    background-color: black;
}
.Project-demo{
    transition: 0.3s;
    background-color: tomato;
}
.Project-demo:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 0 rgba(255, 99, 71, 0.400);
}
.github-code:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 0 #000;
}
.Project-options-links{
    display: flex;
}
.Back{
    transition: 0.3s;
    width: 3%;
    margin-left: 30px;
}
.Back:hover{
    transition: 0.3s;
    transform: scale(1.3);
}
@media screen and (max-width: 768px) {
    .Project-image img{
        width: 90%;
        height: 300px;
    }
    .AboutProjects-options h1{
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .AboutProjects-options a{
        padding: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 576px) {
    .Project-options-links{
        justify-content: center;
    }
    .AboutProjects-options h1{
        margin-left: 0;
        text-align: center;
    }
    .AboutProjects-options {
        display: block;
    }
    .AboutProjects-options a{
        width: 30%;
    }
}
@media screen and (max-width: 425px) {
    .Project-image img{
        height: 200px;
    }
}
@media screen and (max-width: 320px) {
    .AboutProject-container{
        margin-top: 20px;
    }
    .Project-image img{
        height: 150px;
    }
    .AboutProjects-options h1{
        font-size: 22px;
    }
}