.My-container{
    margin: 50px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.My-description{
    color: white;
}
.My-description h1, h2{
    font-weight: 400;
}
.Code-mode{
    border-radius: 5px;
    color: black;
    padding: 20px 5px;
    background-color: #C4C4C4;
}
@media screen and (max-width: 768px) {
    .My-description h1, h2{
        font-size: 20px;
    }
    .MyImage-container{
        display: flex;
        justify-content: center;
    }
    .MyImage-container img{
        width: 200px; height: 280px;
    }
    .My-container{
        grid-template-columns: auto;
    }
}