.FeaturedProjects-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.Article-container{
    justify-self: center;
    margin-bottom: 30px;
}
.All-project{
    grid-column: 1 / 3;
    justify-self: center;
    display: flex;
}
.All-project a{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}
.All-project a:hover{
    transition: 0.3s;
    background-color: white;
    color: black;
}
@media screen and (max-width: 1012px){
    .FeaturedProjects-container{
        grid-template-columns: auto;
    }
    .Article-container{
        grid-column: 1 / 3;
    }
}