.FeaturedProjectCard{
    transition: 0.3s;
    cursor: pointer;
    display: grid;
    grid-template-rows: 25px auto;
}
.Title{
    display: flex;
    align-self: center;
}
.Title h3{
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    margin-left: 10px;
}
.Options{
    transition: 0.3s;
    background-color: #252B43;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ViewProfile{
    display: flex;
    transition: 0.3s;
    opacity: 0;
    margin-right: 80px;
}
.ViewProfile img{
    margin: 0 10px;
    color: white;
}
.FeaturedProjectCard:hover .ViewProfile{
    transition: 0.3s;
    transform: translateX(70px);
    opacity: 1;
}