.ProjectCard-container{
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    margin: 20px 0;
    padding: 10px 0 10px 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto;
    background-color: #252B43;
}
.ProjectCard-container:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 0 #000000;
}
.ProjectCard-container:hover .Project-options{
    transition: 0.3s;
    margin-right: 0;
    opacity: 1;
    width: auto;
}
.ProjectCard-container:hover .Title{
    text-decoration: underline;
}
.Title a{
    color: white;
    text-decoration: none;
}
.Title h1{
    margin: 0;
    font-size: 30px ;
    font-weight: 400;
}
.Technologies{
    display: flex;
}
.TechIcon{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}
.TechIcon p{
    margin: 0;
}
.Project-options{
    transition: 0.3s;
    align-self: center;
    margin-right: -50px;
    opacity: 0;
}
.git{
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.3s;
    margin-right: -84px;
    background-color: black;
    border-radius: 5px;
    right: 80px;
    display: flex;
    text-decoration: none;

}
.git img{
    margin-right: 10px;
}
.git p{
    margin: 0;
    align-self: center;
    color: white;
}
.demo{
    background-color: tomato;
}
.Project-options:hover .git{
    transition: 0.3s;
    margin-right: 0;
}
.details{
    background-color: #581ef7;
}