.ProjectCard-container{
    color: white;
    margin: 20px 0;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #252B43;
}
.Title h1{
    margin: 0;
    font-size: 30px ;
    font-weight: 400;
}
.Technologies{
    display: flex;
}
.TechIcon{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}
.TechIcon p{
    margin: 0;
}