.Project{
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 350px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    background-color: white;
}
.Project:hover{
    transition: 0.5s;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
}
.Description{
    margin: 10px;
}
.Description p a{
    text-decoration: none;
}
.Image{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}