---
// this way to take advantage of astro optimization
import '../styles/typography.css'
import '../styles/globals.css'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='I’m Rogelio Samuel a software developer specialized in web technologies.'
		/>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>Rogelio Samuel | Software developer specialized in web technologies</title>

		<!-- Start OG tags -->
		<meta name='twitter:card' content='summary' />
		<meta name='twitter:site' content='@sam_621_' />
		<meta name='twitter:creator' content='@sam_621_' />
		<meta property='twitter:image' content='/images/og-cover.webp' />
		<meta
			property='og:title'
			content='Rogelio Samuel | Software developer specialized in web technologies'
		/>
		<meta
			property='og:description'
			content='I’m Rogelio Samuel a software developer specialized in web technologies.'
		/>
		<meta property='og:url' content='https://rogeliosamuel.com' />
		<meta property='og:type' content='website' />
		<meta property='og:image' content='/images/og-cover.webp' />
		<!-- End OG tags -->
	</head>
	<body class='mx-5 lg:mx-20'>
		<slot />
	</body>
</html>
