---
import "@fontsource/ibm-plex-serif/600-italic.css";
import "@fontsource-variable/outfit";

import "../css/index.css";

import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rogelio Samuel | Software Engineer</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
