---
import "@fontsource/ibm-plex-serif/600-italic.css";
import "@fontsource-variable/outfit";

import "../css/index.css";

import Header from "../components/header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>Rogelio Samuel | Software Engineer</title>
    <meta
      name="description"
      content="Best-in-class software development, leading software solutions while collaborating with teams"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rogeliosamuel.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rogelio Samuel | Software Engineer" />
    <meta
      property="og:description"
      content="Best-in-class software development, leading software solutions while collaborating with teams"
    />
    <meta property="og:image" content="/og.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="rogeliosamuel.com" />
    <meta property="twitter:url" content="https://rogeliosamuel.com" />
    <meta name="twitter:title" content="Rogelio Samuel | Software Engineer" />
    <meta
      name="twitter:description"
      content="Best-in-class software development, leading software solutions while collaborating with teams"
    />
    <meta name="twitter:image" content="/og.png" />

    <ClientRouter />
  </head>
  <body class:list={["bg-background", className]}>
    <Header />
    <slot />
  </body>
</html>
