---
// this way to take advantage of astro optimization
import '../styles/typography.css'
import '../styles/globals.css'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='As a software developer I design, develop and deliver software products to improve the world with technology'
		/>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>Rogelio Samuel | I’m a software developer specialized in web technologies</title>
	</head>
	<body class='mx-5 lg:mx-20'>
		<slot />
	</body>
</html>
