/* 
    --main-color: #222831;
    --second-color: #2f80ed;
  
    --card-bg: #292f38;
  
    --main-text-color: #FFFFFF
    --second-text-color: #bec5cb;
*/

body {
  background-color: #222831;
}

@import url('./pages/index.css');
