.About-Tools {
  margin: 0 20px;
}
.About-Tools-List div {
  display: flex;
  color: white;
  align-items: center;
}
.About-Tools-List div img {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .About-Tools {
    display: grid;
    margin: 0 125px;
  }
  .About-Tools-List div p {
    font-size: 20px;
  }
}
