.AboutSkills {
  display: grid;
  grid-gap: 40px;
  margin: 0 20px;
}
.AboutSkills-Title {
  display: flex;
  align-items: center;
}
.Skills-icons {
  display: grid;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .AboutSkills {
    margin: 20px 125px 100px 125px;
  }
  .About-Skills {
    display: grid;
  }
  .Skills-icons img {
    margin: 0 10px;
  }
  .About-Tools {
    display: grid;
  }
  .About-Tools-List div p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .Skills-icons {
    grid-template-columns: auto auto;
  }
}
