.FeaturedProjects {
  margin: 50px 0 150px 0;
}
.FeaturedProjects-Title {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.FeaturedProjects-Title h2 {
  margin: 0;
}
.FeaturedProjects-project-container {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}
.FeaturedProjects-ViewAll {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .FeaturedProjects-Title {
    margin-bottom: 50px;
  }
  .FeaturedProjects-ViewAll {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .FeaturedProjects-project-container {
    grid-template-columns: 1fr 1fr;
  }
}
