.FeaturedProject-container {
  margin: 0 20px;
  padding: 10px;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  border-radius: 5px;
}
.FeaturedProject-container div div div h1 {
  margin: 0;
}
.FeaturedProject-img img {
  border-radius: 5px;
}
