footer {
  margin-top: 80px;
  border-top: 1px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: white;
}
footer h2 img {
  margin: 0 10px;
}
