/* .Header {
} */
.HR-Header {
  margin: 50px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .Header {
    height: 100vh;
  }
  .Header-Illustration {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .Illustration-container img {
    width: 579px;
    height: 359px;
  }
  .Header-Text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
}
