.Hero-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  height: 90vh;
  margin: 0 10px 0 0;
}
.Hero-description {
  width: 50%;
}
.Hero-me {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
