.CodeText {
  background-color: #333333;
  padding: 10px;
}
.CodeText p {
  color: white;
  font-size: 13px;
  margin: 0;
}
.Hero-MyImg {
  margin-top: 9px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 425px) {
  .CodeText p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .Hero-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 79vh;
  }
  .Hero-info {
    justify-self: center;
    align-self: center;
  }
  .Hero-MyImg {
    align-self: center;
  }
  .Hero-MyImg img {
    width: 300px;
    height: 408.13px;
  }
}
