nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;
}
.SocialIcons-container {
  display: flex;
  justify-content: space-between;
  width: 23%;
}
