.NavBar {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #252b43;
  justify-content: space-around;
}
.Nav-Image-Container {
  display: flex;
  justify-content: center;
}
.NavBar a {
  display: grid;
  justify-content: center;
}
.NavBar a p {
  margin: 0;
  text-align: center;
}
