.Project {
  display: grid;
  grid-gap: 20px;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  padding: 10px;
}
.Project-title h1 {
  margin: 0;
  text-align: center;
}
.Project-techIcons {
  display: flex;
  justify-content: space-evenly;
}
.Project-button {
  display: flex;
  justify-content: center;
}
.Project-button button {
  cursor: pointer;
  margin: 0 10px;
}
