.Projects-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}
.Projects-title h2 {
  margin-left: 80px;
}
.Projects-featuredProject-container {
  display: grid;
}
.Projects-Projects-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  margin: 0 20px;
}
