.ProjectsContainer-project-container {
  margin: 0 0 100px 0;
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .ProjectsContainer-project-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}
