.ProjectHero-img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 425px) {
  .ProjectHero-img img {
    width: 330px;
    height: 135.47px;
  }
}
@media screen and (min-width: 425px) {
  .ProjectHero-img img {
    width: 700px;
    height: 330.78px;
  }
}
