.Projects-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}
.Projects-title h2 {
  margin-left: 80px;
}
.Projects-featuredProject-container {
  display: grid;
}
.Projects-Projects-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  margin: 0 20px;
}
.Projects-viewAll-btn {
  display: flex;
  justify-content: center;
}
.Projects-viewAll-btn a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}
