---
import Layout from "../../layouts/Layout.astro";

import HeroImage from "../../assets/images/vendyx.png";
import ProjectDetailsHero from "../../components/project-details-hero.astro";
import Footer from "../../components/footer/footer.astro";

import ExpoImage1 from "../../assets/images/expos/vendyx-expo-1.png";
import ExpoImage2 from "../../assets/images/expos/vendyx-expo-2.png";
import { Image } from "astro:assets";
---

<Layout>
  <ProjectDetailsHero
    title="E-Commerce"
    subtitle="An E-Commerce powered by Vendyx"
    techs={["next-28", "nest-28", "ts-28", "prisma-28", "postgresql-28"]}
    image={HeroImage}
    livePreview="https://next-storefront.up.railway.app/collections/bags"
    github="https://github.com/sam-621/next-storefront"
    transitionName="image-Vendyx"
    color="#4F46E5"
  />

  <section
    class="mt-56 flex flex-col text-center text-black max-w-5xl px-4 md:px-8 mx-auto"
  >
    <p class="text-4xl leading-[1.4]">
      A full featured storefront to showcase the capability of <strong
        class="font-normal text-[#4F46E5]">Vendyx</strong
      >, providing a real-world example of how our platform <strong
        class="font-normal text-[#4F46E5]"
        >streamlines operations, enhances user experience, and drives sales.</strong
      >
    </p>
  </section>

  <section class="mt-56 flex flex-col gap-24 items-center mx-4 md:mx-8">
    <Image
      src={ExpoImage1}
      alt="Vendyx checkout page"
      class="rounded-lg max-w-5xl w-full border"
    />

    <Image
      src={ExpoImage2}
      alt="Vendyx sign in page"
      class="rounded-lg max-w-5xl w-full border"
    />
  </section>

  <Footer />
</Layout>
